

#map {
    height: calc(100vh - 60px);
  }
/* Header */

nav {
  height: 60px;
  background-color: #3887be;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > h3 {
  font-size: 26px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 10px;
}

svg {
  margin-left: 10px;
  float: left;
  cursor: pointer;
}

/* Map */

#map {
  width: 100vw;
  height: 100vh;
}

/* Side Bar */

.side-bar {
  height: 100%;
  width: 250px;
  padding-right: 5px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #111;
  /* opacity: 0.9; */
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-bar a,
span {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.2s;
}
.side-bar span {
  cursor: pointer;
}

.side-bar .btn-close {
  position: absolute;
  top: 0;
  right: 24px;
  font-size: 35px;
}

.input {
  display: inline-block;
  height: 40px;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  margin-bottom: 20px;
}

.list-item a {
  border: 1px solid rgba(246, 246, 246, 0.5);
  color: #ccc;
  font-size: 18px;
  padding: 24px;
  border-radius: 0 0 2px 2px;
  margin-top: 8px;
}
